PORT=5000
MONGO_URI=mongodb://localhost:27017/spendwise
JWT_SECRET=your_jwt_secret
REFRESH_SECRET=your_refresh_secret
# Nodemailer (Gmail)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
# SendGrid (Recommended for Production)
SENDGRID_API_KEY=your_sendgrid_api_key_starting_with_sg
SENDGRID_FROM_EMAIL=no-reply@yourverifieddomain.com
EMAIL_REPLY_TO=your_personal_email@gmail.com
EMAIL_REPLY_TO=your_personal_email@gmail.com

# Firebase Admin SDK (Server)
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_PRIVATE_KEY_ID=your_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-project.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your_client_id
FIREBASE_CLIENT_CERT_URL=your_cert_url
